.grid-container {
  display: flex;
  justify-content: space-evenly;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: rgb(39, 70, 95);
}

.text-center {
  text-align: center;
}

.App {
  min-height: 44vh;
  min-width: 400px;
  background-color: rgb(228, 243, 255);
  text-align: center;
  align-items: center;
  margin: 50px 30vw 50px 30vw;
  border: solid;
  border-radius: 25px;
}
